/* Brand */
:root {
  --font-family-body: "Poppins", sans-serif;
  --measure: 75ch;

  --color-navy: #0a1a57;
  --color-peach: #ffe8d6;
  --color-forest-green: #2e4d17;
  --color-pale-blue: #abc2ff;
  --color-dull-blue: #aec0e4;
  --color-light-lime: #e0f096;
  --color-orange-soda: #fa702b;
  --color-midnight: #22284f;
  --color-star: #ffbc57;

  --brand-color: var(--color-navy);
  --brand-color-dim: #010837;
  --brand-color-bright: #1434b3;
}

/* Settings */
:root {
  --font-size-h1: var(--font-size-5);
  --text-color-1: var(--color-navy);
  --text-color-1-inverse: var(--surface-0);
  --text-color-2-inverse: var(--color-pale-blue);
  --link-color: var(--brand-color-bright);
  --button-height-default: 3rem;
  --radius-default: var(--radius-round);
  --form-gap: var(--space-5);
  --radius-4: 2rem;
  --input-radius: var(--radius-4);
  --input-padding-inline: var(--space-4);
  --line-height-body: var(--font-lineheight-4);
  --line-height-headings: var(--font-lineheight-2);

  @media (--OSdark) {
    --link-color: var(--brand-color-bright);
    --focus-color: var(--brand-color-bright);
  }
}

/* Global site specific styles */

body {
  /* For Nuxt Fonts module to pick up the font automatically */
  font-family: "Poppins";
}

/* Layout */
.p-page-layout {
  grid-auto-rows: max-content;
}

.p-prose {
  --size-measure: var(--measure);
}

/* Add br, it is missing in Puleo */
.p-prose br {
  margin-block-start: revert;
}

hr {
  margin-block: var(--space-7);
}

.p-switcher {
  > * {
    margin-block: 0;
  }
}

/* Forms */
textarea {
  border-radius: var(--radius-3);
}

input,
textarea {
  width: 100%;
  max-width: initial;
}

/* alerts */
:root {
  --success-alert-color: var(--positive-alert-color);
  --success-alert-bg-color: var(--positive-alert-bg-color);
}

.error-message {
  color: var(--error-alert-color);
  background-color: var(--error-alert-bg-color);
  padding: var(--space-2) var(--space-4);
  border-radius: var(--radius-3);
}

.success-message {
  color: var(--success-alert-color);
  background-color: var(--success-alert-bg-color);
  padding: var(--space-2) var(--space-4);
  border-radius: var(--radius-3);
}
